.about__avatar {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  transition:
    transform 500ms ease-out,
    filter 500ms;
}
.about__avatar:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
.about__avatar-container {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.about__content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.about__author {
  background-color: var(--gray-color_6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.4rem 2rem 1.4rem;
}

.about__author-name {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-color_1);
}

.about__author-description {
  color: var(--gray-color_3);
}
