:root {
  --primary-color: #ff2625;
  --secondary-color: #ab2933;
  --gray-color_1: #474542;
  --gray-color_2: rgb(61, 61, 61);
  --gray-color_3: rgb(94, 94, 94);
  --gray-color_4: rgb(128, 128, 128);
  --gray-color_5: rgb(168, 168, 168);
  --gray-color_6: #f4f4f4f8;
  --white-color: #fff;
  --transparent-color_1: #cecece67;
  --transparent-color_2: #cecece34;
  --header-height: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100px;
}

.category {
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  width: max-content;
  padding: 0.3rem 1rem;
  font-size: 16px;
  font-variant-caps: all-small-caps;
  box-shadow: 1px 1px 4px -1px var(--gray-color_1);
}

.link {
  text-decoration: none;
  color: var(--gray-color_1);
}
.link:hover {
  color: var(--primary-color);
}

.link_active {
  text-decoration: none;
  color: var(--primary-color);
}

.button_secondary {
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  font-size: 16px;
  color: var(--gray-color_3);
}

.button_secondary:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
