.header {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header__logo {
  font-size: 20px;
  font-family: "Mate SC", serif;
  font-weight: 600;
  color: var(--gray-color_3);
}

.menu {
  background-color: var(--gray-color_6);
  list-style: none;
  position: absolute;
  z-index: 2;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.6rem 0.4rem;
  transform-origin: top;
  max-height: 400px;
  transition:
    max-height 220ms,
    transform 200ms ease-out;
}

.menu__item {
  padding: 0.6rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-color_1);
}

.menu__item:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
  pointer-events: none;
}

.menu-switch.hidden {
  display: none;
}

.menu.hidden {
  max-height: 0px;
  transform: scaleY(0);
}
