.section.latest {
  width: 100%;
}
.latest__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.latest__post {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 1.6rem;
  box-shadow: 1px 1px 6px -1px var(--gray-color_6);
  filter: opacity(0);
  transition: filter var(--loaded-transition-duration) ease-in;
}

.latest__post.loaded {
  filter: opacity(1);
}

.latest__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.8);
  transition:
    transform 500ms ease-out,
    filter 500ms;
}
.latest__image:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
.latest__image-container {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.latest__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 1rem;
}
.latest__body {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0 1rem;
}
.latest__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-color_1);
}

.latest__title:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-shadow: 0.3px 0.3px var(--secondary-color);
}

.latest__details {
  display: flex;
  gap: 2rem;
  font-size: 12px;
  color: var(--gray-color_3);
}
.latest__paragraph {
  color: var(--gray-color_2);
}
.latest__author-name {
  color: var(--primary-color);
}

.section__title {
  font-size: 44px;
  font-weight: 800;
  color: var(--gray-color_4);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 3rem 1rem;
}

.section__title::before,
.section__title::after {
  content: "";
  height: 1px;
  background-color: var(--gray-color_5);
}
.section__title::before {
  width: 20px;
}
.section__title::after {
  flex: 1;
}

.latest__category {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 14px;
}
